<head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
 <div id="map"></div>
    <script>
      var map;
      var myLatLng = {lat: <%= @vehicle.travel_infos.last.try(:lat) %>, lng: <%= @vehicle.travel_infos.last.try(:lng) %>};
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 17
        });


      var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"
    async defer></script>
<div class="container">
  <h2>Vehicle Number <%= @vehicle.vehicle_number %> - Vehicle ID <%= @vehicle.vehicle_id %></h2>
   
</div>